*.pyc
logs/*.*
!logs/__init__.py
trained_models/*
/analysis/move_vs_rest/figs/

/data/*
!/data/__init__.py

!/data/preprocessed_data
/data/preprocessed_data/*
!/data/preprocessed_data/__init__.py

!/data/raw_data
/data/raw_data/*
!/data/raw_data/__init__.py

!/data/raw_data/naturalistic_move_v_rest
/data/raw_data/naturalistic_move_v_rest/*
!/data/raw_data/naturalistic_move_v_rest/electrode_locations/
/analysis/move_vs_rest/.ipynb_checkpoints/
